<h1>Reverse String</h1>
<p>This example will display a string reversed.</p>
<form action="/display" method="post" accept-charset="utf-8">
<input type="text" name="post[str]" value="Enter string you wish to reverse..."
id="str" /><br />
<input type="submit" value=".. and display it!"> </form>